<div class="header">
  <div class="header-top">
    <div class="header-top-left">
      <div class="header-name">Julia Sałek</div>
      <div class="header-badge">Looking for a job</div>
    </div>
    <div class="header-top-right">
      <a href="https://www.linkedin.com/in/julia-salek-frontend-developer/" class="logo logo-linkedin">
      </a>
      <a href="https://www.linkedin.com/in/julia-salek-frontend-developer/" class="logo logo-website">
      </a>
    </div>
  </div>
  <div class="header-content">
    <div class="header-content-desc">
      <div class="content-title">👋 Hi, I’m Julia</div>
      <div class="content-desc">
        I am a Junior Frontend Developer with 1.5+ year commercial experience in Web Development. I am an
        ambitious, self-motivated, open-minded and hard-working individual. I play high value on details and
        creating functional and attractive environment for users as these are the most crucial skills of
        Frontend Developer.
      </div>
      <div class="content-bottom">
        <div class="bottom-experience">Current professionall experience: 1.5+ yr</div>
        <div class="bottom-contact">
          <div>My correspondence e-mail</div>
          <a href="mailto:salekjul@gmail.com">salekjul@gmail.com</a>

        </div>
      </div>
      <button class="download-btn" (click)="downloadCV()">Download my CV</button>
    </div>
    <div class="content-animation">
      <div class="floating-badges-top">
        <div class="floating-badge badge-one">🔍 rxjs</div>
        <div class="floating-badge badge-two">🎨 UX/UI</div>
      </div>
      <div class="floating-circles">
        <div class="circles circle-one">
          <div class="logos logo-figma"></div>
        </div>
        <div class="circles circle-two">
          <div class="logos logo-html"></div>
        </div>
        <div class="circles circle-five">
          <div class="logos logo-ts"></div>
        </div>

      </div>
      <div class="profile-card">
        <div class="profile-photo"></div>
        <div class="badge-role">Junior Frontend Developer</div>
        <div class="name">Julia Sałek</div>
        <div class="location">Cracow</div>
      </div>
      <div class="floating-circles">
        <div class="circles circle-three">
          <div class="logos logo-angular"></div>
        </div>
      </div>
      <div class="floating-badges-bottom">
        <div class="floating-badge badge-three">🔔 Forms</div>
        <div class="floating-badge badge-four">🔤 Styles</div>
        <div class="floating-badge badge-five">🔀 Animations</div>
      </div>
    </div>
  </div>
</div>
<!-- <app-hobby-carousel></app-hobby-carousel> -->
<app-contact-form></app-contact-form>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_FPHLKerILr9qnqyX0FMgz");
   })();
</script>